<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
   <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="shirinm363@gmail.com">
        <network defaultCredentials="false" host="smtp.gmail.com" port="587" userName="shirinm@gmail.com" password="Shirin@1234"/>
      </smtp>
    </mailSettings>
  </system.net>
<connectionStrings>
   <add name="dbconnect" connectionString="Data Source=LAPTOP-NQMKF3M0\SQLEXPRESS;Initial Catalog=bookit;Integrated Security=True" />
</connectionStrings>
</configuration>
